* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* Preloader */

.spinner-wrapper {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.75rem;
  height: 1.25rem;
  margin: -0.625rem 0 0 -1.875rem; 
  text-align: center;
}

.spinner > div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #5271FF;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0); }
  40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

header {
  background-image: url("../assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.navbar {
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: 9999;
}

.navbar.scrolling-active {
  background-color: #ffff;
  padding: 30px 0 30px 0;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .logo h1 {
  color: black;
  font-size: 24px;
}

.navbar .box-navbar .menu {
  display: flex;
  column-gap: 20px;
}

.navbar .box-navbar .menu li {
  list-style-type: none;
}

.navbar .box-navbar .menu li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px 10px 15px;
}

.navbar .box-navbar .menu .active a {
  background-color: #3085C3;
  border-radius: 5px;
  font-weight: 550;
}

.navbar .box-navbar .menu li a:hover {
  background-color: #DDF2FD;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu-bar {
  color: #3085C3;
  font-size: 24px;
  display: none;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.hero .box-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.hero .box-hero .box:nth-child(1) h1 {
  color: black;
  font-size: 3vw;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero .box-hero .box:nth-child(1) p {
  line-height: 2;
  color: black;
  margin-bottom: 20px;
  font-weight: 300;
}

.hero .box-hero .box:nth-child(1) button {
  width: 180px;
  height: 50px;
  background-color:#3085C3;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero .box-hero .box:nth-child(1) button:hover {
  background-color: #DDF2FD;
  color: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hero .box-hero .box:nth-child(2) img {
  width: 100%;
}

.services {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 100px 0 50px 0;
}

.services .box-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.services .box-services .box {
  width: 300px;
  text-align: center;
  color: black;
}

.services .box-services .box i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #3085C3;
}

.services .box-services .box p {
  font-weight: 300;
}

.iklan {
  padding: 50px 0 100px 0;
}

.iklan .container {
  padding: 0 15px;
  flex-wrap: wrap;
  background-color: #5271FF;
  width: 80%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.iklan .container .image img {
  width: 500px;
}

.iklan .container .text .title {
  margin-bottom: 30px;
}

.iklan .container .text .label .content {
  display: flex;
  font-size: small;
  color: white;
  margin-bottom: 10px;
}

.iklan .container .text .label .content .atas {
  font-weight: bold;
  font-size: medium;
}

.destinasi {
  padding: 50px 0 50px 0;
}

.destinasi .box-destinasi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  row-gap: 50px;
}

.destinasi .box-destinasi .box {
  text-align: center;
  color: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.destinasi .box-destinasi .box:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.destinasi .box-destinasi .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.destinasi .box-destinasi .box p {
  font-weight: 300;
  margin-bottom: 10px;
}

.destinasi .box-destinasi .box button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #3085C3;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.destinasi .box-destinasi .box button:hover {
  background-color: #DDF2FD;
  color: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* Promosi */

#promo .container .box-promo{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

/* .box-promo .box {
  width: 100%;
  overflow: hidden;
} */

.box-promo img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  #promo .container {
    grid-template-columns: 1fr;
  }
}

/* Promosi */

.daftar {
  padding: 50px 0 100px 0;
}

.daftar .box-daftar {
  color: black;
  text-align: center;
}

.daftar .box-daftar h1 {
  margin-bottom: 10px;
}

.daftar .box-daftar h3 {
  font-weight: 400;
  margin-bottom: 10px;
  animation: animasi;
  -webkit-animation: animasi 2s infinite;
}

@keyframes animasi {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.daftar .box-daftar button {
  border: none;
  min-width: 100px;
  min-height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #3085C3;
  color: white;
  padding-inline: 10px;
}

.daftar .box-daftar button i {
  font-size: 16px;
  font-weight: bold;
  margin-inline: 5px;
}


.comment-post {
  width: 80%;
  border: 1px solid #5271FF;
  padding: 20px 15px;
  margin-bottom: 50px;
}

.comment-post .row {
	border: 1px solid black;
	padding: 5px;
}

.comment-post .row:not(:last-child) {
	margin-bottom:20px;
}

.comment-post .row .user-post {
  display: flex;
  gap: 10px;
  font-size: 13px;
} 

.comment-post .row .description {
  font-size: 13px;
}

#formReply {
  width: 80%;
  margin-inline: auto;
  margin-bottom: 8%;
  background-color: white;
  flex: 1;
  text-align: center;
}

#formReply .content {
  margin: 0 15%;
}

#formReply .content .form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

#formReply .content textarea {
  width: 100%;
  resize: none;
  padding: 5px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 10px;
}

#formReply .content .form-label input{
  box-sizing: border-box;
  border: 1px solid#d9d9d9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 15px;
  margin: 6px 0;
  width: 85%;
  font-size: 0.8rem; 
}

#formReply .content .form-label .label{
  width: 15%;
}

#formReply .content input[type="submit"] {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #3085C3;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

#formReply .content input[type="submit"]:hover {
  background-color: #DDF2FD;
  color: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer {
  padding: 50px 0 50px 0;
  background-color: #5271FF;
}

.footer .box-footer {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  column-gap: 100px;
  align-items: center;
}

.footer .box-footer .box {
  color: white;
}

.footer .box-footer .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer .box-footer .box:nth-child(2) a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.footer .box-footer .box p {
  font-weight: 200;
}

.footer .box-footer .box:nth-child(1) p {
  font-size: 12px;
  line-height: 2;
  margin-top: 10px;
}

.footer .box-footer .box:nth-child(3) {
  text-align: center;
}

.footer .box-footer .box:nth-child(3) span {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .hero .box-hero .box:nth-child(1) button {
    width: 150px;
  }
}

@media screen and (max-width: 425px) {
  .iklan .container .image img {
    width: 250px;
  }

  #formReply .content input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .iklan .container .image img {
    width: 200px;
  }

  #formReply .content input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .menu-bar {
    display: block;
  }
  
  .navbar .box-navbar .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 200px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background-color: #0050b3;
  }
  
  .navbar .box-navbar .menu.menu-active {
    top: 80px;
    opacity: 1;
    border-top: 1px solid white;
  }
  
  .hero .box-hero .box:nth-child(1) p {
    font-size: 14px;
  }
  
  .daftar .box-daftar h1 {
    font-size: 28px;
  }
  
  .footer .box-footer {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero .box-hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  }
  
  .hero .box-hero .box:nth-child(1) {
    order: 2;
    text-align: center;
  }
  
  .hero .box-hero .box:nth-child(2) {
    order: 1;
    text-align: center;
  }
  
  .hero .box-hero .box:nth-child(2) img {
    width: 55vw;
  }
}

@media screen and (max-width: 575px) {
  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 475px) {
  .daftar .box-daftar button {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 370px) {
  .hero .box-hero .box:nth-child(2) {
    width: 55vw;
    align-self: flex-end;
    justify-self: center;
  }
  
  .destinasi .box-destinasi {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Bordered form */
#loginForm {
  background-color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#btnLogin {
  border: none;
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #3085C3;
  color: white;
  padding-inline: 10px;
}

/* Add a hover effect for buttons */
#btnLogin:hover {
  opacity: 0.8;
}

#btnregis {
  border: none;
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #3085C3;
  color: white;
  padding-inline: 10px;
}

/* Add a hover effect for buttons */
#btnregis:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.h-login {
  position: relative;
  background-image: url("../assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.h-login .container {
  position: relative;
  z-index: 2;
}

span.psw {
  font-size: small;
}